/*Left Panel*/
.left
{
	position: absolute; 
	width: 10%; 
	height: 100%;
	left: 0%;
	top: 0%; overflow: hidden; z-index: 5;
	border:1px #CCCCCC solid;
}
/*map area*/
.map
{
	width: 90%;
	height: 100%;
	border: 1px #cccccc solid;
	position: absolute;
	left: 10%;
	top: 0%;
	z-index: 3;
}


